{% extends "no-flex.html" %}

{% block content %}
  <form style="width: 65.3333333333%; margin:auto;" action="/download" method="post">

    <label class="required" for="title" required>
      Post Title
    </label>
    <input required name="title" id="title" type="text" class="u-full-width" value="{{request.form['title']}}">

    <label for="tags">Tags/Categories (separated by spaces)</label>
    <input name="tags" id="tags" type="text" class="u-full-width">

    <div class="row">
      <div class="six columns">
        <label class="required" for="date">Post Date</label>
        <input required name="date" id="date" type="date">
      </div>
      <div id="author-column" class="six columns">
        <input checked="checked" type="radio" name="author-type" id="author" value="author">
        <label for="author" style="display: inline;">Author</label><br>
        <input type="radio" name="author-type" id="guest-author" value="guest-author">
        <label for="guest-author" style="display: inline;">Guest Author</label>
        <select required name="author" id="author-selector" aria-label="author selector">
          {% for author in context['authors']%}<option value="{{author}}">{{author}}</option>{% endfor %}
        </select>
      </div>
    </div>

    <br>

    <label for="content">
      Post Contents (read-only)
    </label>
    <textarea name="content" id="content" class="u-full-width" rows="12"
    style="height: auto; background-color: #eee; border: none;" readonly>{{request.form['content']}}</textarea>

    <br>
    <br>

    <fieldset class="use-excerpt">
      <legend>Excerpt on blog's index page?</legend>
      <label><input type="radio" name="use-excerpt" value="yes" checked="checked">&nbsp;Yes</label>
      <label><input type="radio" name="use-excerpt" value="no">&nbsp;No</label>
    </fieldset>

    <div id="excerpt-fields">
      <input type="hidden" name="excerpt-type" value="{{context['excerpt_type']}}">
      <label for="excerpt">{{context['excerpt_type']}} Excerpt</label>
      <textarea name="excerpt" id="excerpt" class="u-full-width" rows="12" style="height: auto; background-color: #eee; border: none;" readonly>{{context['excerpt']}}</textarea>
    </div>

    <div style="margin-top: 25px; margin-bottom: 25px; border: 1px solid #eee; padding-top: 25px;">
     <ol>
       <li>Download your post's markdown file</li>
       <li>Upload it to <a href="{{ context['github_url'] }}">{{ context['github_url'] }}</a>. (Drag and drop is easiest!)</li>
       <li>Pick the "<a href="https://github.com/blog/2105-upload-files-to-your-repositories" target="_blank">create new branch and make a pull request</a>" option <br> (rather than the "commit to the 'develop").</li>
     </ol>
    </div>

    <p style="margin-top: 30px;">
      <a class="button" href="/" style="margin-right: 15px">Edit Post</a>
      <button class="button button-primary" type="submit">Download</button>
    </p>

  </form>
  <script>
    // Date picker defaults to today
    document.getElementById('date').valueAsDate = new Date();

    // Toggle between author and guest author
    const author_column = document.getElementById('author-column');
    const author_select = document.getElementById('author-selector');
    const guest_author = document.getElementById('guest-author');
    const author = document.getElementById('author');
    const guest_author_input = document.createElement('input');
    guest_author_input.type = 'text';
    guest_author_input.name = 'author';
    guest_author_input.setAttribute('aria-label' , 'guest author name');
    guest_author_input.style.display = 'block';
    guest_author_input.style.margin = 'auto';
    guest_author_input.required = true;

    guest_author.onclick = function () {
      author_select.remove();
      author_column.appendChild(guest_author_input);
    }

    author.onclick = function () {
      guest_author_input.remove();
      author_column.appendChild(author_select);
    }
    // make sure author is selected on page load
    author.click();

    // Author stored in local storage for better UX
    const selectOption = author_select.options[author_select.selectedIndex];
    const lastSelected = localStorage.getItem('default-author');
    if(lastSelected) {
        author_select.value = lastSelected;
    }
    author_select.onchange = function () {
       lastSelected = author_select.options[author_select.selectedIndex].value;
       localStorage.setItem('default-author', lastSelected);
    }

    // If you opt not to use the excerpt, hide the other excerpt-related fields
    const excerptFields = document.getElementById('excerpt-fields');
    if (document.querySelector('input[name="use-excerpt"]:checked').value == "no"){
      excerptFields.style.display = 'none';
    }
    document.querySelector('.use-excerpt').onchange = function(e) {
      if (e.target.value == "no") {
        excerptFields.style.display = 'none';
      } else {
        excerptFields.style.display = 'block';
      }
    }

  </script>
{% endblock content %}
